.backdrop-blur {  
    background-color: rgba(25, 25, 112, 0.9); 
    backdrop-filter: blur(10px);  
    z-index: 10;   
  }  
  
  .text-content {  
    z-index: 20;   
  }

  .first-section-background {  
    background-color: #728C69;  

}