.backdrop-blur {  
    background-color: #B6410F; 
    backdrop-filter: blur(10px);  
    z-index: 10;   
  }  
  
  .text-content {  
    z-index: 20;   
  }

  .first-section-background {  
    background-color: #12372A;  

}

html {
  scroll-snap-type: y mandatory;
  font-family: 'FontBold', sans-serif;

}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  box-sizing: border-box;
}

.tech-icon {  
  width: 50px;   /* İkonların genişliği */  
  height: 50px;  /* İkonların yüksekliği */  
  margin: 0 10px; /* İkonlar arasında yatay boşluk bırakır */  
}